In [59]:
import pandas,os,re

In [107]:
# read all data into pandas.dataframe

df = pandas.read_csv("indoor/0705_indoor_1m.csv")
df2 = pandas.read_csv("indoor/0705_indoor_2m.csv")

In [140]:
# extract all filename
def all_indoor_csv_filename():
    return ['indoor/'+path for path in os.listdir('indoor')]

def all_outdoor_csv_filename():
    return ['outdoor/'+path for path in os.listdir('outdoor')]


# extract by distance(1m, 2m, 3m...)
def csv_filename_by_distance(distance:int=1, indoor=True):
    # usage:  csv_filename_by_distance(2,False)  --> outdoor 2m csvfiles
    #              csv_filename_by_distance(2,True)  --> indoor 2m csvfiles
    files = os.listdir('indoor') if indoor else os.listdir('outdoor')
    csv = list(filter(lambda x:(f"{distance}m" in x),files))
    if indoor:
        return ['indoor/'+file for file in csv]
    return ['outdoor/'+file for file in csv]

# extract by date 
def csv_filename_by_date(date:str, indoor=True):
    files = os.listdir('indoor') if indoor else os.listdir('outdoor')
    csv = list(filter(lambda x:(date in x),files))
    if indoor:
        return ['indoor/'+file for file in csv]
    return ['outdoor/'+file for file in csv]


# read csv files into one df
def read_csvs(files):
    
    df = pandas.read_csv(files[0])
    df['distance'] = re.search(r'(\d+)m.csv', files[0]).group(1)
    
    for file in files[1:]:
        df_temp = pandas.read_csv(file)
        df_temp['distance']=re.search(r'(\d+)m.csv', file).group(1)
        df = df.append(df_temp)
    return df

In [133]:

# Output the out_door dataframe into csv
files = all_outdoor_csv_filename()
df_outdoor = read_csvs(files)[['Signal strength (dBm)','distance']]
df_outdoor.columns = ['RSS', 'distance'] # change the cols name
df_outdoor['RSS'] = df_outdoor['RSS'].apply(lambda x: x.strip("dBm")) # remove the "dBm" in data

files = all_indoor_csv_filename()
df_indoor = read_csvs(files)[['Signal strength (dBm)','distance']]
df_indoor.columns = ['RSS', 'distance'] # change the cols name
df_indoor['RSS'] = df_indoor['RSS'].apply(lambda x: x.strip("dBm")) # remove the "dBm" in data

In [135]:
df_outdoor.shape

(122218, 2)

In [136]:
df_indoor.shape

(118810, 2)

In [138]:
df_outdoor.to_csv('outdoor_train.csv', index=False)
df_indoor.to_csv('indoor_train.csv', index=False)

In [139]:
122218+118810

241028

In [150]:
df_0705_indoor = read_csvs(csv_filename_by_date('0705', True))
df_0705_outdoor = read_csvs(csv_filename_by_date('0705', False))
df_0705_indoor.describe()

,No.,Time,Protocol,Length,Noise level (dBm),Signal/noise ratio (dB)
count,24567.000000,24567.000000,2.456700e+04,24567.000000,0.0,0.0
mean,3740.729312,1254.763263,8.021100e+02,181.048602,NaN,NaN
std,2217.882151,743.308702,2.800164e-10,43.530888,NaN,NaN
min,2.000000,0.256148,8.021100e+02,106.000000,NaN,NaN
25%,1844.000000,620.677305,8.021100e+02,143.000000,NaN,NaN
50%,3683.000000,1235.064985,8.021100e+02,181.000000,NaN,NaN
75%,5525.000000,1850.849345,8.021100e+02,219.000000,NaN,NaN
max,8425.000000,2867.349905,8.021100e+02,256.000000,NaN,NaN

In [149]:
df_0705_outdoor.describe()

,No.,Time,Protocol,Length,Noise level (dBm),Signal/noise ratio (dB)
count,25604.000000,25604.000000,2.560400e+04,25604.000000,0.0,0.0
mean,3884.547375,1292.435592,8.021100e+02,181.048625,NaN,NaN
std,2264.655035,758.304397,2.928630e-10,43.670514,NaN,NaN
min,2.000000,0.205119,8.021100e+02,106.000000,NaN,NaN
25%,1944.750000,640.585885,8.021100e+02,143.000000,NaN,NaN
50%,3868.500000,1285.480708,8.021100e+02,181.000000,NaN,NaN
75%,5768.000000,1921.543713,8.021100e+02,219.000000,NaN,NaN
max,8725.000000,2899.055742,8.021100e+02,256.000000,NaN,NaN

In [155]:
read_csvs(csv_filename_by_date('0715', True)).describe()

,No.,Time,Protocol,Length,Noise level (dBm),Signal/noise ratio (dB)
count,23308.000000,23308.000000,2.330800e+04,23308.000000,0.0,0.0
mean,3546.116741,1176.129092,8.021100e+02,181.607131,NaN,NaN
std,2098.988353,694.981429,2.629633e-10,43.225546,NaN,NaN
min,3.000000,0.293073,8.021100e+02,106.000000,NaN,NaN
25%,1751.000000,582.275899,8.021100e+02,145.000000,NaN,NaN
50%,3487.000000,1161.998825,8.021100e+02,182.000000,NaN,NaN
75%,5247.000000,1738.988590,8.021100e+02,219.000000,NaN,NaN
max,8162.000000,2629.465113,8.021100e+02,256.000000,NaN,NaN

In [156]:
read_csvs(csv_filename_by_date('0715', False)).describe()

,No.,Time,Protocol,Length,Noise level (dBm),Signal/noise ratio (dB)
count,24588.000000,24588.000000,2.458800e+04,24588.000000,0.0,0.0
mean,3776.932813,1265.450530,8.021100e+02,181.070807,NaN,NaN
std,2290.058729,761.668247,2.803574e-10,43.592735,NaN,NaN
min,2.000000,0.067364,8.021100e+02,106.000000,NaN,NaN
25%,1841.000000,623.322325,8.021100e+02,143.000000,NaN,NaN
50%,3671.000000,1232.903468,8.021100e+02,181.000000,NaN,NaN
75%,5517.000000,1844.765261,8.021100e+02,219.000000,NaN,NaN
max,9174.000000,3019.888468,8.021100e+02,256.000000,NaN,NaN

In [157]:
read_csvs(csv_filename_by_date('0724', True)).describe()

,No.,Time,Protocol,Length,Noise level (dBm),Signal/noise ratio (dB)
count,23577.000000,23577.000000,2.357700e+04,23577.000000,0.0,0.0
mean,3585.792086,1192.978044,8.021100e+02,180.674853,NaN,NaN
std,2130.493088,704.413791,2.668287e-10,43.716445,NaN,NaN
min,2.000000,0.329290,8.021100e+02,106.000000,NaN,NaN
25%,1768.000000,587.908965,8.021100e+02,142.000000,NaN,NaN
50%,3536.000000,1186.052985,8.021100e+02,180.000000,NaN,NaN
75%,5304.000000,1768.994412,8.021100e+02,219.000000,NaN,NaN
max,8845.000000,2855.325832,8.021100e+02,256.000000,NaN,NaN

In [158]:
read_csvs(csv_filename_by_date('0724', False)).describe()

,No.,Time,Protocol,Length,Noise level (dBm),Signal/noise ratio (dB)
count,22991.000000,22991.000000,2.299100e+04,22991.000000,0.0,0.0
mean,3483.682223,1158.183413,8.021100e+02,181.895872,NaN,NaN
std,2044.294952,682.288514,2.584158e-10,43.593695,NaN,NaN
min,2.000000,0.010310,8.021100e+02,106.000000,NaN,NaN
25%,1721.000000,570.429741,8.021100e+02,144.000000,NaN,NaN
50%,3454.000000,1145.807357,8.021100e+02,182.000000,NaN,NaN
75%,5189.500000,1724.026039,8.021100e+02,220.000000,NaN,NaN
max,8141.000000,2756.736711,8.021100e+02,256.000000,NaN,NaN

In [159]:
read_csvs(csv_filename_by_date('0726', False)).describe()

,No.,Time,Protocol,Length,Noise level (dBm),Signal/noise ratio (dB)
count,24549.000000,24549.000000,2.454900e+04,24549.000000,0.0,0.0
mean,3759.255204,1249.418480,8.021100e+02,180.692656,NaN,NaN
std,2231.471324,740.580854,2.797890e-10,43.718920,NaN,NaN
min,2.000000,0.559528,8.021100e+02,106.000000,NaN,NaN
25%,1857.000000,617.197728,8.021100e+02,143.000000,NaN,NaN
50%,3693.000000,1228.750205,8.021100e+02,180.000000,NaN,NaN
75%,5553.000000,1838.906070,8.021100e+02,218.000000,NaN,NaN
max,8487.000000,2811.367767,8.021100e+02,256.000000,NaN,NaN

In [160]:
read_csvs(csv_filename_by_date('0726', True)).describe()

,No.,Time,Protocol,Length,Noise level (dBm),Signal/noise ratio (dB)
count,24117.000000,24117.000000,2.411700e+04,24117.000000,0.0,0.0
mean,3666.642161,1221.523956,8.021100e+02,180.531119,NaN,NaN
std,2153.735956,722.013097,2.741046e-10,43.457020,NaN,NaN
min,2.000000,0.022018,8.021100e+02,106.000000,NaN,NaN
25%,1819.000000,601.853668,8.021100e+02,143.000000,NaN,NaN
50%,3629.000000,1206.489538,8.021100e+02,181.000000,NaN,NaN
75%,5425.000000,1817.217293,8.021100e+02,218.000000,NaN,NaN
max,8559.000000,2794.426917,8.021100e+02,256.000000,NaN,NaN

In [161]:
read_csvs(csv_filename_by_date('0728', True)).describe()

,No.,Time,Protocol,Length,Noise level (dBm),Signal/noise ratio (dB)
count,23241.000000,23241.000000,2.324100e+04,23241.000000,0.0,0.0
mean,3551.116992,1187.365921,8.021100e+02,181.670883,NaN,NaN
std,2119.015469,705.557233,2.620538e-10,43.436953,NaN,NaN
min,2.000000,0.059963,8.021100e+02,106.000000,NaN,NaN
25%,1751.000000,586.865655,8.021100e+02,145.000000,NaN,NaN
50%,3477.000000,1168.721770,8.021100e+02,181.000000,NaN,NaN
75%,5223.000000,1741.535454,8.021100e+02,219.000000,NaN,NaN
max,8582.000000,2852.206219,8.021100e+02,256.000000,NaN,NaN

In [162]:
read_csvs(csv_filename_by_date('0728', False)).describe()

,No.,Time,Protocol,Length,Noise level (dBm),Signal/noise ratio (dB)
count,24486.000000,24486.000000,2.448600e+04,24486.000000,0.0,0.0
mean,3713.296455,1237.413436,8.021100e+02,181.911664,NaN,NaN
std,2182.347220,733.431767,2.789932e-10,43.754122,NaN,NaN
min,2.000000,0.039067,8.021100e+02,106.000000,NaN,NaN
25%,1844.250000,609.971225,8.021100e+02,144.000000,NaN,NaN
50%,3680.500000,1221.866864,8.021100e+02,183.000000,NaN,NaN
75%,5502.000000,1836.578027,8.021100e+02,220.000000,NaN,NaN
max,9027.000000,3010.250744,8.021100e+02,256.000000,NaN,NaN